<a href="https://colab.research.google.com/github/redher97/DheerajReddy_INFO5731_-Fall2021/blob/main/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
counter=0
for a in "Computational Methods":
  counter+=1
print(counter)

21

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
emp={}

for a in "google.com":
  if a not in emp:
    emp[a]=1
  else:
    emp[a]+=1
print(emp)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
sum=0
list=[23,34,45,53,63,67]
for a in list:
  sum+=a
print(sum)

285

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [2]:
# write your answer here
s = "restart"
a=s[0]
b=s[1:]
b=b.replace(a,"$")
print(a+b)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a=input("enter the first var")
b=input("enter the second var")
S=(3.14*((1+float(a)/float(b))**3))
print(S)

enter the first var1
enter the second var1
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3):
   dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
tup=("s",23,"d",434,"das",4531)
print (23 in tup)

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [4]:
aset={23,45,56,78}
maximum = max(aset)
print(maximum)
minimum = min(aset)
print(minimum)

78
23

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [49]:
# write your answer here
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
random.shuffle(studnet_list)
[studnet_list[i:i + 6] for i in range(0 ,len(studnet_list), 6)]
sizes=[4,4,4,5,6,6]
[[random.choice(studnet_list) for _ in range(size) ]for size in sizes]

[['rrk0058', 'bk0301', 'sg0940', 'py0080'],
 ['pn0159', 'snd0097', 'bk0301', 'ss1995'],
 ['ds0761', 'sg0940', 'bk0301', 'vmb0067'],
 ['tv0119', 'rak0120', 'py0080', 'ttp0037', 'spk0057'],
 ['mv0299', 'dd0420', 'rrk0058', 'hc0439', 'pk0339', 'at0739'],
 ['dd0420', 'msp0174', 'hn0145', 'msp0174', 'snd0097', 'nm0547']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [6]:
# write your answer here
lis=[11,22,3,33,44,55,11]
emp=[]
s=0
for a in lis:
  if a  not in emp:
    emp.append(a)
  else:  
   print("a duplicate is found of" + " " + str(a))
   s+=1
if(s!=1):
  print("-1")

a duplicate is found of 11

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [7]:
# write your answer here
from datetime import date, timedelta

def sundays(year):
   dat = date(year, 1, 1)                    # January 1st
   dat += timedelta(days = 6 - dat.weekday())  # First Sunday
   while dat.year == year:
      yield dat
      dat += timedelta(days = 7)

for dat in sundays(2021):
   print(dat)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26